@font-face {

    font-family: "LeagueGothic";
    src: url("../polices/LeagueGothic.woff") format("woff");
    src: url("../polices/LeagueGothic.woff2") format("woff2");

    font-family: "Montserrat" ;
    src: url("../polices/montserrat.woff") format("woff");
    src: url("../polices/montserrat.woff2") format("woff2");
}

/** Corps principal **/

/** Partie Haute**/
.games-finder {
    font-family: "new_glitch_demoregular", sans-serif;
    display: flex;
    width: 60%;
    background-color: #990000;
    justify-content: center;
    margin: auto;
}

.gf-btn {
    font-family: "Kdam Thmor Pro", sans-serif;
    color: white;
    background-color: #990000;
    border: none;
    width: 100%;
}

.gf-btn:hover {
    transition: 300ms;
    background-color: #6d0000;
    padding: 5px;
}

.enterTheNek {
    display: flex;
    background-color: #351c75;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size:xx-large;
    border: solid 2px black;
}

.etn-btn {
    font-family: "Montserrat", sans-serif;
    color: white;
    background-color: #351c75;
    border: none;
}

.void {
    background-color: darkgreen;
}

.game {
    width: 60%;
    margin:auto;
    background-color: #181818;
}

.col{
    padding-top: 20px;
}

.compte {
    height: 50px;
    width: 50px;
}

.navbar-toggler{
    border: none;
}

.navbar {
    background-color: #181818;
}

.navbar-brand {
    color: white;
    justify-content: center;
}

.navbar-brand:hover {
    color: white;
}

.nav-link {
    color: white;
}
